version: "3"

services:

  integration_tests:
    image: ethereumoptimism/integration-tests:docker-entrypoint-new
    volumes:
      - ./integration-tests:/integration-tests
      - ./docker/integration-tests/wait-for-l1-and-l2-and-contract-deployment.sh:/integration-tests/wait.sh
    env_file:
      - docker-compose.env
    environment:
      - "PKGS=integration-tests"

  l1_chain:
    image: ethereumoptimism/hardhat:master
    ports:
      - 9545:9545

  geth_l2:
    image: ethereumoptimism/go-ethereum:docker-entrypoint-new
    volumes:
    - ./:/mnt
    - geth:/l2-node/l2:rw
    # Mount the locally built geth earlier in the PATH
    - ./go-ethereum/build/bin/geth:/usr/local/sbin/geth
    env_file:
      - docker-compose.env
    ports:
      - 8545:8545
    entrypoint: ["/bin/wait-for-l1.sh", "geth", "--verbosity=6"]

  batch_submitter:
    image: ethereumoptimism/batch-submitter:master
    env_file:
      - docker-compose.env
    volumes:
     - ./optimism-monorepo:/opt/optimism-monorepo

  deployer:
    image: ethereumoptimism/deployer:master
    env_file:
      - docker-compose.env

volumes:
  geth:
