version: "3"

services:
  integration_tests:
    image: ethereumoptimism/integration-tests:${INTEGRATION_TESTS_TAG:-latest}
    volumes:
      - ./integration-tests:/integration-tests
      - ./docker/integration-tests/wait-for-l1-and-l2-and-contract-deployment.sh:/integration-tests/wait.sh
    env_file:
      - docker-compose.env
    environment:
      - "PKGS=${PKGS}"

  l1_chain:
    image: ethereumoptimism/hardhat:${L1_CHAIN_TAG:-latest}
    ports:
      - 9545:9545
    env_file:
      - docker-compose.env

  geth_l2:
    image: ethereumoptimism/go-ethereum:${GETH_L2_TAG:-latest}
    volumes:
    - ./:/mnt
    - geth:/l2-node/l2:rw
    - go-modules:/go/pkg/mod # Put modules cache into a separate volume
    - ./go-ethereum/build/bin/geth:/usr/local/sbin/geth # Mount the locally built geth earlier in the PATH
    env_file:
      - docker-compose.env
    ports:
      - 8545:8545

  batch_submitter:
    image: ethereumoptimism/batch-submitter:${BATCH_SUBMITTER_TAG:-latest}
    env_file:
      - docker-compose.env
    volumes:
     - ./batch-submitter:/opt/batch-submitter

  data_transport_layer:
    image: ethereumoptimism/data-transport-layer:${DATA_TRANSPORT_LAYER_TAG:-latest}
    volumes:
      - ./data-transport-layer:/opt/data-transport-layer
    env_file:
      - docker-compose.env
    ports:
      - 7878:7878

  deployer:
    image: ethereumoptimism/deployer:${DEPLOYER_TAG:-latest}
    env_file:
      - docker-compose.env
    ports:
      - 8080:8080

volumes:
  geth:
  go-modules:
