version: "3"

services:

  integration_tests:
    image: ethereumoptimism/integration-tests:${INTEGRATION_TESTS_TAG:-latest}
    env_file:
      - ./docker-compose.env
    environment:
      - "PKGS=${PKGS}"

  l1_chain:
    image: ethereumoptimism/hardhat:${L1_CHAIN_TAG:-latest}
    ports:
      - 9545:9545
    env_file:
      - docker-compose.env

  geth_l2:
    image: ethereumoptimism/go-ethereum:${GETH_L2_TAG:-v0.1.2}
    volumes:
      - geth:/l2-node/l2:rw
    env_file:
      - docker-compose.env
    ports:
      - 8545:8545
      - 8546:8546

  batch_submitter:
    image: ethereumoptimism/batch-submitter:${BATCH_SUBMITTER_TAG:-v0.1.3}
    env_file:
      - docker-compose.env

  data_transport_layer:
    image: ethereumoptimism/data-transport-layer:${DATA_TRANSPORT_LAYER_TAG:-latest}
    env_file:
      - docker-compose.env
    ports:
      - 7878:7878

  deployer:
    image: ethereumoptimism/deployer:${DEPLOYER_TAG:-v0.1.5}
    env_file:
      - docker-compose.env
    ports:
      - 8080:8080

volumes:
  geth:
